.rf-p {
    color: #BED6F8;
    margin-left: auto ;
    margin-right: auto ;
}
*.rf-p-b {
    font-size: 12px;
    color: #000000;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Geneva,Verdana,Arial,sans-serif;
    padding: 10px;
}
.rf-dt{
    width:400px;    
}
.acent{
    text-align: center;
}
*.rf-dt-hdr-c {
    font-size: 12px;
}
.rf-dt-c {
    font-size: 12px;
}
.rf-p-hdr {
    background-color: #BED6F8;
    border-color: #BED6F8;
    font-size: 12px;
    color: black;
    font-weight: bold;
    font-family: Arial,Verdana,sans-serif;
    padding: 2px;
    border-width: 1px;
    border-style: solid;
    background-position: top left;
    background-repeat: repeat-x;
    background-image: url(../images/gradientA.png);
}   